backup/
edsger_lib/
fullir
golbals
lab
mylibs
old
prod
pure
run
semfull
thomas
tmp
ast.o
gracec
issues.txt
lexer.cpp
lexer.o
lib.a
minibasic.a
parser.cpp
parser.o*
temp*
*.imm
*.asm
*/a.out
grc/
a.out
